.header {
    background: rgba(26, 26, 26, 0.95);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;

    padding: 1rem 1rem;
    
    .logo{
        margin-left: 20px;
        height: 1.5rem;
    }
    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid #111;
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
    }
    a{
        font-weight: bold;
        color: white;
        text-decoration: none;
        padding:0 1rem;
    }
}